/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pretty-block{
    width: 300px;
    padding: 10px;
}
.pretty-form, .pretty-form div{
    position: relative;
}
.pretty-form input[type="text"]{
    border: transparent;
    position: relative;
}
.pretty-form div:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.mg-top-sm{
    margin-top: 10px;
}