<footer class="contentinfo">
    
  <div class="footer-wrap">
    <section class="sec-information">
      <p>
        <b>AutoBar Team</b><br>
        Texas A&amp;M University<br>
        TAMU 3127<br>
        College Station, TX 77843-3127
      </p>

      <p>
        <a href="https://tamu.edu">TAMU Website</a>
      </p>
    </section>
  </div>

  <section class="copyright">
    <p>© <%= Time.current.year %> AutoBar. All Rights Reserved.
  </section>
      
</footer>