<!DOCTYPE html>
<head>
</head>
<body>
  <header>
    <div class="title-wrapper">
      <div id="title-bar">
        <h1 id="app-title" class="title-bar-txt">AutoBar</h1>
      </div>
      
      <div class="nav-bar">
        <div class="dropdown">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Drinks", drinks_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>